.admin_company_title {
    max-width: 1200px;
    margin: 25px auto;
    text-align: center;
}

.admin_company_title h2 {
    margin: 30px 0;
}

.admin_company {
    background: rgb(243, 243, 243);
}

.graph-overview {
    max-width: 1200px;
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap-reverse;
    gap: 40px;
}

.dashboard {
    display: grid;
    place-items: center;

}


.graph-health {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start !important;
    gap: 12px;
}

.servicos {
    width: 100%;
    max-width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 27px;
    color: #fff;
    font-weight: 500;

}

.custos {
    width: 100%;
    max-width: 600px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 27px;
    color: #4d4d4d;
    font-weight: 500;
    background: #ffffff;
    border: 1px solid #969696;
}

.graph-motors {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.info-park {
    display: flex;
    max-width: 1500px;
    padding: 10px;
    width: 90%;
    margin: 0px auto;
    color: #333333;
    gap: 50px;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.map-park {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.map-park img {
    max-width: 600px;
    width: 100%;
}

.graph {
    margin-top: 25px;
    width: 700px;
}

.atividade {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
    align-items: center;
    gap: 30px;
}

.atividade-info {
    max-width: 700px;
    width: 100%;
}

.stats {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}