:root {
    --color-green-primary: #2F9B2E;
    --color-orange-primary: #ff6b00;
    --color-green-tint: #C2F5B0;
    --color-orange-tint: #FFD599;
    --color-green-shade: #0E5921;
    --color-orange-shade: #932400;
}