html, body {
    font-family: "Jost", sans-serif;
}

body {
    overflow-x: hidden;
    padding-right: 0px !important;
    scroll-behavior: smooth;
}

.logo {
    width: 150px;
    height: auto;
}

.links-mobile {
    display: none;
}

.itens-menu-mobile {
    display: none !important;
}

.menu-a-drop {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: #222;
}

.loading {
    width: 500px;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 94, 0);
}

.notify-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.preload-images {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    background: url(/public/assets/images-freepik/tech-bg.png) no-repeat, 
                url(/public/assets/images-freepik/security-bg.png) no-repeat, 
                url(/public/assets/images-freepik/relatorios-bg.png) no-repeat,
                url(/public/assets/bg-signin-company.jpg) no-repeat, 
                url(/public/assets/images-freepik/dashboard-bg.png) no-repeat;
}