@media screen and (max-width: 1059px) {
    .links-desktop {
        display: none !important;
    }

    .links-mobile {
        display: flex;
    }
    .itens-menu-mobile {
        display: flex !important;
    }
}

@media screen and (max-width: 780px) {
    .card-menor {
        max-height: 605px; 
        min-height: 400px; 
        max-width: 600px;
        width: 90%;
    }

    .card-agrupados {
        flex-direction: column;
        width: 100%;
    }

    .card-agrupados-tr {
        justify-content: center;
        align-items: center;
    }

    .card-menor h2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 866px) {
    .saiba-mais-cards-single {
        max-width: 600px;
        width: 90%;
    }
}

@media screen and (max-width: 1361px) {
    .card-single-onde-nos-encontrar {
        justify-content: center;
        align-items: center;
        border: 0;
    }

    .card-single-onde-nos-encontrar iframe {
        width: 100%;
    }
    
    .card-single-onde-nos-encontrar .text-card-onde-nos-encontrar {
        align-items: center;
    }

    .card-single-onde-nos-encontrar .text-card-onde-nos-encontrar h4 {
        font-weight: 400 !important;
    }
}