.policy-title {
    height: 200px;
    background: url(/public/assets/bg-park.png) center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.policy-body {
    padding: 40px 20px;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #ffffff; 
    border-radius: 8px;
}

.policy-content {
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 5px;
}

.policy-content h3 {
    color: var(--color-green-primary);
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.policy-content p {
    margin-bottom: 15px;
}
.policy-content ul {
    margin-left: 20px;
    padding-left: 15px;
}

.policy-content ul li {
    list-style-type:lower-latin;
    margin-bottom: 10px;
    color: #555;
}

.policy-content a {
    color: var(--color-orange-primary); 
    text-decoration: none;
}

.policy-content a:hover {
    color: var(--color-green-primary); 
    text-decoration: underline;
}
