.box-error-simple {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.box-error-simple img {
    width: 200px;
}

.box-error-wb {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.box-error-wb img {
    width: 500px;
}