.box-error {
    color: var(--color-green-shade);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.box-error img {
    width: 500px;
}