.hero-section {
    background: url(/public/assets/bg-park.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.hero-section h2 {
    color: rgb(255, 255, 255);
    font-size: 65px;
    text-align: center;
}

.hero-section h2 span:nth-child(1) {
    color: orange;
}


.hero-section h2 span:nth-child(2) {
    color: rgb(54 183 123);
}

.hero-section p {
    color: #f0f0f0;
    font-size: 22px;
    width: 90%;
    text-align: center;
    max-width: 700px;
}

.hero-section .searcher .input-search {
    width: 90%;
    max-width: 550px;
    height: 50px;
    padding-left: 24px;
    border: 2px solid white;
    outline: 0;

}

.hero-section .searcher {
    width: 90%;
    max-width: 550px;
    display: flex;
}

.hero-section .searcher button {
    border: 0;
    width: 70px;
}

.saiba-mais {
    text-align: center;
    padding: 30px;
    border-top: 5px solid rgb(54 183 123);
}

.saiba-mais h2 {
    color: rgb(54 183 123);
    font-size: 40px;
}

.text-cards {
    display: flex;    
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.text-cards p {
    width: 300px;
    text-align: start;
}