.reservation {
    display: flex;
    max-width: 1200px;
    width: 90%;
    padding: 10px 20px;
    margin: 20px auto;
    border: 1px solid #3333;
    color: #333333;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
}

.painel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parkVincles {
    display: flex;
    width: 90%;
    max-width: 1200px;
    padding: 10px 0px;
    margin: 20px auto;
    color: #333333;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
}

.historys {
    display: flex;
    max-width: 1200px;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto;
    color: #333333;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
}

.historys .cardsHistorys {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.history {
    margin:  0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #3333;
}

.cardsParks {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.cardsParks .park {
    height: 200px;
    padding: 30px;
    border: 1px solid #3333;
}

.vincle {
    height: 200px;
    padding: 30px;
    display: grid;
    place-items: center;
    place-content: center;
    border: 1px solid #3333;
    background: #414141;
    color: #fff;
}

.control {
    display: flex;
    justify-content: space-between;

}

.control h4 {
    font-size: 20px;
}

.btnControl {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

@media screen and (max-width: 600px) {
    .park, .vincle {
        width: 100%;
    }

    .vincle {
        height: 100px;
    }
    
}