.reservation-card::-webkit-scrollbar {
    height: 8px;
}

.reservation-card::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.reservation-card::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.reservation {
    display: flex;
    max-width: 1200px;
    width: 90%;
    padding: 20px;
    margin: 20px auto;
    border: 1px solid #3333;
    color: #333333;
    border-radius: 0;
    flex-direction: column;
    gap: 30px;
}

.parkVincles {
    display: flex;
    width: 90%;
    max-width: 1200px;
    padding: 10px 0px;
    margin: 20px auto;
    color: #333333;
    border-radius: 5px;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}

.historys {
    display: flex;
    max-width: 1200px;
    padding: 10px 0px;
    width: 90%;
    margin: 20px auto;
    color: #333333;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;
}

.historys .cardsHistorys {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.vincular {
    display: flex;
    justify-content: center;
}

.history {
    margin:  0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #3333;
}

.cardsParks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.control {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-info-icon {
    font-size: 40px;
}

.card-info-single {
    padding: 20px;
    width: 250px;
    height: 200px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btnControl {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    gap: 10px;
}

.info-company {
    display: flex;
    max-width: 1500px;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    color: #333333;
    gap: 20px;
    border-bottom: 1px solid #757575;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.info-company h2 {
    font-size: 20px;
}

.info-legals-company {
    text-align: end;
}

.info-park {
    display: flex;
    max-width: 1500px;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    color: #333333;
    gap: 50px;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.map-park {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.map-park img {
    max-width: 700px;
    width: 100%;
}

.graph {
    margin-top: 25px;
    width: 700px;
}

.atividade {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

.atividade-info {
    max-width: 700px;
    width: 100%;
}

.atividade-btns {
    display: flex;
    gap: 10px;
}

.card-company {
    display: flex;
    border: 1px solid #3333;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.card-company .info-card-company {
    text-align: end;
    display: flex;
    flex-direction: column;

}

.card-company img {
    max-width: auto;
    height: 100px;
    object-fit: cover;
}

.parks {
    display: flex;
    max-width: 1500px;
    padding: 10px;
    width: 100%;
    margin: 20px auto;
    color: #333333;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.parks .parks-form, .parks .parks-vincles{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.stepper-form {
    padding: 20px;
    max-width: 1000px;
    width: 99%;
    margin: 0 auto;
}

.data-show-single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.confirmData-icon {
    font-size: 30px;
    color: rgb(54, 54, 54);
}


@media screen and (max-width: 685px) {
    .info-company {
        flex-direction: column;
    }   

    .info-company div {
        text-align: center;
    }
}

@media screen and (max-width: 595px) {
    .btnControl {
        justify-content: center;
    }
}

@media screen and (max-width: 1225px) {
    .control {
        justify-content: center;
    }
}